In [1]:

import pandas as pd

import numpy as np

from statsforecast.models import AutoARIMA

C:\Users\pawel\miniconda3\envs\datascience3.10\lib\site-packages\statsforecast\core.py:26: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm
C:\Users\pawel\miniconda3\envs\datascience3.10\lib\site-packages\statsforecast\utils.py:237: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  "ds": pd.date_range(start="1949-01-01", periods=len(AirPassengers), freq="M"),

In [2]:
df=pd.read_csv("TDinprogress.csv")
df.rename({'Unnamed: 0':'Time'},axis=1,inplace=True)
df['Time']=pd.to_datetime(df.Time,utc=True)
df.set_index('Time',inplace=True,drop=True)
df.index=df.index.tz_convert('Europe/Warsaw')
df

,PSEforecast,Load,holiday,TD,TG,"TD[6, 0, 1]"
Time,,,,,,
2015-01-10 00:00:00+01:00,17000.0,17109.375,False,-2279.250,-48.125,NaN
2015-01-10 01:00:00+01:00,16200.0,16438.150,False,-2234.775,-46.600,NaN
2015-01-10 02:00:00+01:00,15800.0,16122.300,False,-2148.525,-8.800,NaN
2015-01-10 03:00:00+01:00,15700.0,15987.900,False,-2082.875,26.000,NaN
2015-01-10 04:00:00+01:00,15700.0,15951.900,False,-2266.525,-220.775,NaN
...,...,...,...,...,...,...
2024-02-28 17:00:00+01:00,23557.0,23578.163,False,576.713,-110.000,NaN
2024-02-28 18:00:00+01:00,23558.0,23746.113,False,507.601,242.325,NaN
2024-02-28 19:00:00+01:00,23408.0,23638.600,False,518.563,95.812,NaN
2024-02-28 20:00:00+01:00,22906.0,23026.875,False,595.200,0.425,NaN
2024-02-28 21:00:00+01:00,21754.0,21487.613,False,571.750,-84.275,NaN

In [3]:
np.unique(df.loc[(df.holiday==True)&(df.index.dayofweek==5)].index.date)

array([datetime.date(2015, 8, 15), datetime.date(2015, 12, 26),
       datetime.date(2017, 11, 11), datetime.date(2018, 1, 6),
       datetime.date(2020, 8, 15), datetime.date(2020, 12, 26),
       datetime.date(2021, 5, 1), datetime.date(2021, 12, 25),
       datetime.date(2022, 1, 1), datetime.date(2023, 11, 11),
       datetime.date(2024, 1, 6)], dtype=object)

In [4]:
def dataSplit(dataframe,end_train):
    day=pd.to_timedelta(1,'d')
    year=pd.Timedelta(365,'d')
    train_data=dataframe.loc[dataframe.index<end_train]
    test_data=dataframe.loc[(dataframe.index>=end_train)&(dataframe.index.date<end_train.date()+day+day)]
    return train_data,test_data

In [5]:
end_train=pd.to_datetime('2022-02-28 10:00',utc=True).tz_convert('Europe/Warsaw')
day=pd.to_timedelta(1,'day')

trainData,testData=dataSplit(df,end_train)

NameError: name 'pytho' is not defined

In [ ]:
model=AutoARIMA(max_p=12,max_q=12,stepwise=False,season_length=24,prediction_intervals=37,trace=True)
model.fit(y=trainData.TD.values,X=trainData.holiday.astype(float).values.reshape(-1,1))