In [42]:
import pandas as pd
from io import StringIO
import re

In [ ]:
with file open as f

In [65]:
df=pd.read_csv('demand.csv',sep=';')
df.loc[24:48]

,Data,Godz.,Dobowa prognoza zapotrzebowania KSE,Rzeczywiste zapotrzebowanie KSE
24,20230102,1,13750,"13061,350"
25,20230102,2,13200,"12670,100"
26,20230102,3,12900,"12463,013"
27,20230102,4,12950,"12498,000"
28,20230102,5,13750,"12940,938"
...,...,...,...,...
235,20230102,20,22950,"21579,475"
236,20230102,21,22600,"21132,613"
237,20230102,22,21550,"19844,125"
238,20230102,23,20050,"18407,213"
239,20230102,24,18600,"17091,938"

['', '20230101;1;14037;13271,825', '20230101;2;13136;12508,713', '20230101;3;12580;11845,200', '20230101;4;12110;11462,400', '20230101;5;11966;11454,200', '20230101;6;12004;11560,600', '20230101;7;12123;11651,363', '20230101;8;12033;11707,075', '20230101;9;11945;11897,463', '20230101;10;12375;12449,150', '20230101;11;12980;13041,713', '20230101;12;13533;13588,388', '20230101;13;14068;14026,550', '20230101;14;14662;14417,113', '20230101;15;14870;14699,200', '20230101;16;15100;15122,850', '20230101;17;16545;16191,013', '20230101;18;17002;16481,663', '20230101;19;17078;16577,463', '20230101;20;17097;16506,950', '20230101;21;16855;16161,313', '20230101;22;16237;15468,238', '20230101;23;15549;14698,225', '20230101;24;14589;13749,238', '20230102;1;13750;13061,350', '20230102;2;13200;12670,100', '20230102;3;12900;12463,013', '20230102;4;12950;12498,000', '20230102;5;13750;12940,938', '20230102;6;15500;14033,350', '20230102;7;19150;17060,163', '20230102;8;20350;19173,663', '20230102;9;21450;20275,263', '20230102;10;22250;20898,725', '20230102;11;22600;20931,363', '20230102;12;22750;20994,688', '20230102;13;23000;21083,675', '20230102;14;23300;21114,675', '20230102;15;22800;20818,250', '20230102;16;22850;21139,463', '20230102;17;23500;22016,213', '20230102;18;23450;22085,575', '20230102;19;23150;21804,400', '20230102;20;22950;21579,475', '20230102;21;22600;21132,613', '20230102;22;21550;19844,125', '20230102;23;20050;18407,213', '20230102;24;18600;17091,938', '']